---
import Layout from "../layouts/Layout.astro";
import { SITE } from "../consts";
---

<Layout>
  <section class="w-full max-w-[624px]">
    <div class="space-y-8">
      <h1 class="text-[24px]">Portfolio template!</h1>
      <div class="space-y-5 text-[16px] opacity-90">
        <p>A clean, fast, and lightweight portfolio template built with Astro and Tailwind CSS.</p>
        <p>
          {SITE.title} has everything your modern blog needs: MDX content, SEO-friendly pages,
          feed-ready structure, and simple customization.
        </p>
        <p>
          {SITE.title} is open-source and fully customizable, making it easy to add your own voice and
          features.
        </p>
        <p>
          Start publishing in minutes. Read the <a class="underline" href="/blog">blog section</a> to
          see the writing experience in action.
        </p>
        <p>
          Built and maintained by <a class="underline" href="https://github.com/3p5ilon">epsilon</a>.
        </p>
      </div>
    </div>

  </section>
</Layout>
